.title {
    margin: 24px 0 16px;

    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
}

.notFound {
    margin: 20vh 0;

    font-size: 6vw;
    text-align: center;

    color: #999;
}
