.wrapper {
    position: relative;
    z-index: 2;

    margin-top: -16px;
    padding: 4px 12px 0;

    border-radius: 16px 16px 0 0;
    background-color: #fff;
}

.city {
    margin-top: 12px;
    padding-bottom: 4px;

    font-size: 12px;
    line-height: 16px;

    color: rgba(0, 0, 0, .5);
}

.schedule {
    padding-bottom: 16px;

    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.description {
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
}

.placeholder {
    height: 80px;
}
