.feed {
    margin-bottom: 24px;
}

.title {
    width: 80%;
    max-width: 275px;
    height: 20px;
    margin-bottom: 16px;
}

.events {
    display: flex;
    overflow: hidden;
}

.item {
    flex: none;

    margin-right: 12px;
}
