.title {
    width: 60%;
    height: 18px;
    margin: 28px 0 12px;
}

.event {
    height: 14px;
    margin: 26px 0;
}

.event:nth-child(1n) {
    width: 80%;
}

.event:nth-child(2n) {
    width: 50%;
}

.event:nth-child(3n) {
    width: 60%;
}
