.cover {
    position: relative;
    z-index: 1;

    height: 100vw;
    margin-top: -56px;

    background-position: 50% 50%;
    background-size: cover;
}

.image {
    position: absolute;
    z-index: 1;
    top: 0;

    width: 100%;
    height: 100%;
}

.fade {
    position: absolute;
    z-index: 3;
    top: 0;

    width: 100%;
    height: 100%;

    opacity: .8;
    /* stylelint-disable */
    background: linear-gradient(180deg, #000, rgba(0, 0, 0, .254) 66.23%, rgba(0, 0, 0, .116) 79.15%, rgba(0, 0, 0, .056) 89.65%, rgba(0, 0, 0, .01));
    /* stylelint-enable */
    mix-blend-mode: normal;
}

.fade::after {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    opacity: .3;
    background: #221826;
}

.overview {
    position: absolute;
    z-index: 4;
    bottom: 0;

    padding: 0 12px 32px;

    color: #fff;
}

.title {
    margin-top: 0;
    margin-bottom: 4px;

    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -.5px;
}

.argument {
    margin-bottom: 4px;

    font-size: 16px;
    line-height: 22px;
}

.tags {
    font-size: 14px;
    line-height: 24px;
    white-space: pre-wrap;

    opacity: .6;
}
