.city-modal {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    pointer-events: none;
}

.city-modal::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: 0;
    background: #000;
    will-change: opacity;
}

.city-modal-visible_yes::before {
    opacity: .5;

    animation-name: fadeIn;
    animation-duration: .1s;
    animation-timing-function: ease-out;
}

.city-modal-visible_yes {
    pointer-events: all;
}

.city-modal-visible_no::before {
    opacity: 0;

    animation-name: fadeOut;
    animation-duration: .1s;
    animation-timing-function: ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: .5;
    }
}

@keyframes fadeOut {
    from {
        opacity: .5;
    }

    to {
        opacity: 0;
    }
}
