.container {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    color: rgba(0, 0, 0, .8);
}

.image {
    flex: none;

    width: 24px;
    height: 24px;
}

.image img {
    object-fit: contain;
}

.serviceName {
    flex: 1;

    margin: 0 12px;
}

.price {
    flex: none;
}
