.container {
    height: 24px;
    padding-bottom: 8px;
}

.avatar {
    display: inline-block;

    margin-right: 9px;

    vertical-align: bottom;
}

.avatar-image {
    display: block;
    overflow: hidden;

    width: 24px;
    height: 24px;

    border-radius: 50%;
}

.stub {
    background-image: url('avatar.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.avatar-image img {
    border-radius: 50%;
    background-color: #fff;
}

.username {
    display: inline-block;

    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}
