.page-header {
    position: sticky;
    z-index: 50;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;

    height: 56px;

    background-color: #fff;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, .15);

    will-change: background-color;

    transition: background-color .3s ease-in-out;
}

.page-header::after {
    flex-grow: 1;
    order: 3;

    content: '';
}

.page-header_clear {
    background-color: transparent;
    box-shadow: none;
}

.menu-button,
.backward-button {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;

    width: 48px;
    height: 56px;
}

.burger-menu-icon {
    display: block;

    width: 20px;
    height: 20px;

    background-image: url('assets/menu-burger.svg');
}

.logo {
    display: block;
    order: 2;

    height: 56px;

    font-weight: bold;
    line-height: 56px;
    white-space: nowrap;
    text-decoration: none;

    color: #202020;
}

.suggest-button {
    display: flex;
    align-items: center;
    order: 4;

    width: 56px;
    height: 56px;
    margin-right: 88px;
}

.suggest-icon {
    display: block;

    width: 24px;
    height: 24px;
    margin: auto;
    mask-image: url('assets/search.svg');
}

.icon-white {
    background-color: #fff;
}

.icon-black {
    background-color: #444;
}
