.screen {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    background: #fff;

    transition-timing-function: cubic-bezier(.25, .1, .25, 1);
    transition-duration: 300ms;
    transition-property: transform, filter;
}

.hidden {
    display: none;
}

.screenEnter {
    transform: translateX(100vw);
}

.screenEnterActive {
    pointer-events: none;

    transform: translateX(0);
}

.screenExit {
    transform: translateX(0);
}

.screenExitActive {
    pointer-events: none;

    transition-duration: 250ms;
    transform: translateX(100vw);
}

.offset {
    pointer-events: none;

    filter: brightness(.5);

    transform: translateX(-25vw);
}
