.container {
    display: inline-flex;
}

.container::before {
    display: block;

    width: 24px;
    height: 24px;

    content: '';

    background: url('avatar.svg') center center no-repeat;
    background-size: contain;
}

.button {
    margin-left: 9px;
    padding: 0;

    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

    border: none;
    outline: none;
    background: none;
}
