.card {
    width: 208px;
}

.image {
    height: 144px;

    border-radius: 12px;
}

.title {
    height: 16px;
    margin-top: 12px;
}

.description {
    width: 65%;
    height: 12px;
    margin-top: 6px;
}
