.container {
    position: relative;
}

.button {
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    padding: 6px 14px;

    font-size: 12px;
    line-height: 16px;
    text-decoration: none;

    color: #fff;
    border-radius: 20px;
    background: #202020;
}
