.container {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    margin-bottom: -26px; /* Отрицательный отступ и большой паддинг снизу чтобы не обрезалась тень из-за overflow */
    padding: 23px 14px 30px;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}
