.image {
    height: 100vw;

    background: #eee;
}

.button-wrapper {
    box-sizing: border-box;
    width: 100vw;
    margin-top: -16px;
    padding: 16px 12px;

    border-radius: 16px 16px 0 0;
    background-color: #fff;
}

.button {
    height: 48px;

    border-radius: 26px;
}

.date-1 {
    width: 128px;
    height: 10px;
    margin: 11px 12px 0;
}

.date-2 {
    width: 257px;
    height: 17px;
    margin: 10px 12px 20px;
}

.map {
    height: 95px;
}

.place-1 {
    width: 199px;
    height: 17px;
    margin: 11px 12px 0;
}

.place-2 {
    width: 128px;
    height: 10px;
    margin: 10px 12px 20px;
}

.gallery {
    overflow: hidden;

    padding: 0 12px 26px;
}

.gallery-header {
    width: 139px;
    height: 20px;
    margin-bottom: 20px;
}

.gallery-content {
    display: flex;
}

.gallery-card {
    flex: none;

    width: 208px;
    height: 144px;
    margin-right: 12px;

    border-radius: 12px;
}

.description {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    height: 122px;
    padding: 0 12px 33px;
}

.description-line-1,
.description-line-2 {
    width: 294px;
    height: 10px;
}

.description-line-3 {
    width: 248px;
    height: 10px;
}

.description-line-4 {
    width: 324px;
    height: 10px;
}

.description-line-5 {
    width: 210px;
    height: 10px;
}

.recommended {
    padding: 0 12px 26px;
}
