.action {
    font-family: 'Helvetica Neue', Arial, sans-serif;

    border: none;
    border-radius: 100px;
    outline: none;
    background: #ffdb4d;
}

.invalid,
.action[disabled] {
    color: rgb(128, 128, 128);
    background: rgb(242, 242, 242);
}
