.button {
    height: 40px;
    margin-right: 8px;
    padding: 0 20px;

    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    white-space: nowrap;

    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(193, 193, 193, .4);
}

.button.active {
    color: #f00;
}

.button.tip {
    padding-right: 36px;

    background: url('./down.svg') 62px 19px no-repeat;
}
