.list {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    flex-direction: row;

    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
}

.list::-webkit-scrollbar {
    display: none;
}

.item {
    flex: none;

    margin-left: 12px;
    scroll-snap-align: center;
}

.item:first-child {
    margin-left: 0;
}
