.card {
    width: 208px;

    text-decoration: none;
}

.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    margin-top: 12px;

    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    word-break: break-word;

    color: #000;
}

.annotation {
    margin-top: 6px;

    font-size: 12px;
    line-height: 16px;

    color: rgba(0, 0, 0, .5);
}

.wrapper {
    position: relative;

    overflow: hidden;

    border-radius: 12px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .2);
}

.image,
.preview {
    display: block;

    width: 208px;
    height: 144px;
}

.image {
    object-fit: cover;
}

.preview {
    background: #eaeaea;
}
