html {
    line-height: 1.15;
}

body {
    overflow: hidden;

    margin: 0;

    font-family: 'Helvetica Neue', Arial, sans-serif;

    background: #fff;
    -webkit-font-smoothing: antialiased;
}

h2 {
    margin: 0;
}
