.input {
    position: relative;

    width: calc(100% - 100px);
    height: 56px;

    border-left-width: 0;
}

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;

    overflow-x: hidden;
    overflow-y: scroll;

    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px;

    background: #fff;

    /*
    Лишние 40 пкс для того, чтобы нельзя было увидеть попап при скролле экрана
    с одновременным скрытием нижней полоски браузера
    */
    transform: translate(0, calc(100vh + 40px));

    will-change: transform;
    overscroll-behavior-y: contain;
}

.wrapper-visible_yes {
    transform: translate(0, 0);
    animation-name: slideUp;
    animation-duration: .2s;
    animation-timing-function: ease-out;
}

.wrapper-visible_no {
    transform: translate(0, calc(100vh + 40px));
    animation-name: slideDown;
    animation-duration: .2s;
    animation-timing-function: ease-out;
}

.city-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.city-item {
    padding: 10px 0;

    color: #444;
    border-top: 1px solid #e3e3e3;
}

@keyframes slideUp {
    from {
        transform: translate(0, calc(100vh + 40px));
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes slideDown {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, calc(100vh + 40px));
    }
}
