.price {
    position: absolute;
    z-index: 2;

    height: 28px;
    padding: 0 10px;

    font-size: 12px;
    font-weight: bold;
    line-height: 28px;

    color: #fff;
    border-radius: 20px;
    background: #202020;
}

.left {
    bottom: 10px;
    left: 10px;
}

.right {
    right: 14px;
    bottom: 14px;
}
