.block {
    display: grid;
    grid-gap: 8px;
}

.item {
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    padding-top: 50%;

    text-decoration: none;

    border-radius: 8px;
    outline: none;
}

.item::before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(0, 0, 0, .25);
}

.image {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    max-width: 100%;
}

.info {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 16px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;

    color: #fff;
}

.counter {
    margin-top: 4px;

    font-size: 14px;
    line-height: 20px;

    color: rgba(255, 255, 255, .8);
}
