.card {
    display: flex;
}

.image {
    width: 152px;
    height: 100px;
    margin-right: 18px;

    border-radius: 8px;
}

.right {
    flex: 1;
}

.title {
    height: 16px;
    margin-bottom: 12px;
}

.description {
    width: 80%;
    height: 12px;
}
